.c3-region.warning{
    fill: red;
}
.block{
    margin-bottom: 50px;
}
#chart{
    height: 400px;
    width: auto;
}
#chart2{
    height: 500px;
    width: auto;
}
#chart3{
    height: 500px;
    width: auto;
}
#chart4{
    height: 500px;
    width: auto;
}
#chart5{
    height: 500px;
    width: auto;
}
