.c3-region.warning{
    fill: red;
}
.block{
    margin-bottom: 50px;
}
.chart{
    height: 500px;
    width: auto;
}
@media screen and (min-height: 900px) {
    .chart{
        height: 800px;
    }
}

@media screen and (min-height: 800px) {
    .chart{
        height: 600px;
    }
}
